# ==========================
# Python
# ==========================

__pycache__/
*.pyc
*.pyo

# ==========================
# macOS
# ==========================

.DS_Store

# ==========================
# Environnements virtuels
# ==========================

.venv/
venv/

# ==========================
# Résultats générés
# ==========================

results/
predictions.csv
prediction_errors.csv

# ==========================
# Dataset complet CICIDS2017
# ==========================

data/network/MachineLearningCVE/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Fichiers temporaires
# ==========================

*.tmp
